@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  min-height: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 80px;
  width: 80px;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.nav-menu > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-menu > ul > li {
  font-size: 20px;
  cursor: pointer;
}

.body {
  padding: 20px;
}

.card-box {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  display: flex;
  /* justify-content: center; */
}

.card {
  width: 15rem;
  padding: 10px;
  /* border: 1px solid black;
  background-color: beige; */
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 20px;
}

.filter {
  display: flex;
  align-items: center;
}

.filter-button {
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}
.search {
  margin-right: 10px;
}

.searchbar {
  padding: 5px;
}

.log-button {
  padding: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-box {
  width: 200px;
  height: 400px;
  margin: 24px;
  background-color: #f0f0f0;
}

.link {
  color: black;
}

.restaurant-menu {
  margin: 20px;
}

.restaurant-details {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  width: fit-content;
  display: flex;
  gap: 30px;
}

.restaurant-image {
  width: 150px;
  border-radius: 20px;
}

.menu-heading {
  width: full;
  padding: 20px;
  text-align: center;
  margin-top: 60px;
  color: blueviolet;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 30px;
}

.menu-title {
  font-weight: bold;
  color: darkmagenta;
  margin-top: 40px;
}

.menu-card-parent {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.menu-card {
  padding: 20px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}

.menu-card-image {
  width: 150px;
  border-radius: 10px;
}

.user-card {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  width: fit-content;
  margin: 20px;
}

.login-container {
  width: 380px;
  margin: 40px auto 0;
}

.login-form {
  position: relative;
  z-index: 1;
  background: rgb(228, 219, 215);
  border-radius: 10px;
  max-width: 380px;
  padding: 25px 40px;
  text-align: center;
}

.login-form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form button {
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-form button:active {
  background: #395591;
}

.login-form span {
  font-size: 40px;
  color: #4b6cb7;
  margin-bottom: 25px;
  display: block;
}

.login-form p.error {
  margin: 0 0 10px 10px;
  text-align: left;
  font-size: 13px;
  color: red;
}
