body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  min-height: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 80px;
  width: 80px;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.nav-menu > ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-menu > ul > li {
  font-size: 20px;
  cursor: pointer;
}

.body {
  padding: 20px;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 12rem;
  padding: 10px;
  border: 1px solid black;
}
